
<div id="cart" >
    <h1>Thông tin giỏ hàng</h1>
    <table>
        <thead>
            <tr>
                <th>STT</th>
                <th>Ảnh</th>
                <th>Tên sản phẩm</th>
                <th>Số lượng</th>
                <th>Đơn giá</th>
                <th>Thành tiền</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cart of carts; let i = index">
                <td>{{i+1}}</td>
                <td><img width="60" src="{{cart.image}}"/></td>
                <td>{{cart.name}}</td>
                <td><input type="number" (change)="onChange(cart.pid,$any($event))" [value]="cart.quantity"></td>
                <td>{{cart.price}}</td>
                <td>{{cart.price*cart.quantity}}</td>
                <td><button class="btn btn-danger" (click)="DelProductInCart(cart.pid)">Xóa</button></td>
            </tr>
        </tbody>
    </table>  
    <span>Tổng tiền: {{total}}</span>  <br>

</div>
<button><a href="checkout">checkout</a></button>